/**
 * file: css/style.css
 **/

html {
    scroll-behavior: smooth;
    /* Makes scrolling to next smooth, rather than 'jumping' to the next section */
}

body {
    font: 12px/18px 'Baloo Tammudu 2', cursive;
    /*font size / line height, font family (Arial, sans-serif), (font weight)*/
    background-color: whitesmoke;

}

html, body, main {
    width: 100%;
    margin: 0;
}
/******************************************************************** 
***************************** Landing Page *************************/
#landingpage {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    padding-top: 0;
    z-index: 2;

}

#landingpage video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    z-index: 1;
}


#landingpage img {
    display: block;
    position: relative;
    z-index: 2;
    width: 50%;

    
}


ul {
    list-style-type: none;
    display: flex;
    padding: 100% 0 0 0;
    width: 100%;
    flex-direction: column;
}

.sidenav {
    position: fixed;
    width: auto;
    z-index: 2; /* Stay at the top of other content */
    right: 0; /* Keep right */
    top: 0; /*40% down on the page, approx. centered*/
    bottom: 0;
    background-color: rgba(255,255,255,0.3);
    /* TEMPORARY */
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;

}

.sidenav li {
    padding: 20px 30px 20px 70px;
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 18px;
}

.sidenav li:hover {
    background-color: maroon;
    color: white;
}

.sidenav li:hover a {
    color: inherit;
}

.sidenav a {
    /*padding: 10px 0;*/
    text-decoration: none;

    /*font-size: ;*/
    color: black;
    display: block;
}


@keyframes float {

    /* Floating arrow; moves img down 20 px from starting location and back up in one fluid motion */
    0% {
        filter: drop-shadow(0 0 0.2px darkgrey); /* Shadow with the shape of the object */
        transform: translatey(0px);
    }

    50% {
        filter: drop-shadow(0 5px 0.2px darkgrey);
        transform: translatey(-20px);
    }

    100% {
        filter: drop-shadow(0 0 0.2px darkgrey);
        transform: translatey(0px);
    }
}

#nextSceneArrow {
    display: block;
    position: fixed;
    bottom: 0;
    left: 47.5%;
    width: 8em;
    z-index: 5;

    animation: float 1.6s ease-in-out infinite; /* calls the float animation, sets it to have a run time of 1.6 secs per loop, gives it a slow start and end, and runs it infinitely */
}



/***********************************************
***************** Page design *****************/

.page-design {
    background-image: url(/images/background.png);
    width: 100%;
    /*  Vh = View Height. It's like % but instead of parent, it's a % of the window height.  */
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

body  {
    font-family: 'Baloo Tammudu 2', cursive;
}

h2 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

p {
    font-size: 20px;
    line-height: 30px;
    
}

.title {
    padding-bottom: 80px;
}
/***********************************************/
/******* backgroundPicture stylesheet **********/

#backgroundPicture1 {
    background-image: url(/images/Coffee.jpg);

}

#backgroundPicture2 {
    background-image: url(/images/kitchen.jpg);

}

.fixed-background {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/***********************************************
***************** Page 1: collage *************/


#collage1 {
    width: 300px;
    top: 0;
    z-index: 2;
    right: 250px;
    
}

#collage2 {
     width: 300px;
    right: 0;
    top: 150px;
    z-index: 3;
}

#collage3 {
     width: 500px;
    bottom: 80px;
    right: 200px;
    z-index: 1;
}

#collagePictures img {
    position: absolute;
}


#collagePictures {
    width: 700px;
    height: 700px;
    position: relative;
    transform: translateY(-100px);
    
}
#collageText {
    width: 400px;
    
}


#collageContent {
    display: flex;
    
}

/***********************************************/
/****** stylesheet for page 2: videos **********/

#interview {
    padding-top: 200px;
    box-sizing: border-box;
}

.video-interview {
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.video-content {
    width: 45%;
    position: relative;
}

.video-content video {
    width: 100%;
}

.video-interview-text {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 0 20px;
    box-sizing: border-box;
}

.btn-play-pause {
    font: 16px 'Baloo Tammudu 2', cursive;
    font-weight: bold;
    color: whitesmoke;
    background-color: maroon;
    opacity: 0.4;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    position: relative;
    padding: 10px 20px;;
    z-index: 2;
    border: 0;
    position: absolute;
    bottom: 40px;
}

#interviewRasmusBtn {
    left: 0;
}


#interviewAllanBtn {
    right: 0;
}

.btn-play-pause:hover {
    cursor: pointer;
    background-color: maroon;
    opacity: 1;
}


/***********************************************/
/****** stylesheet for page 3: quotes **********/


#quotesContent {
    display: flex;
    width: 80%;
    max-width: 1200px;
    justify-content: space-around;
}

.quotes-and-pic {
    font-size: 20px;
    width: 400px;
    
}

#veyisQuote {
    margin-top: 120px;  
}

.quotes-and-pic q {
    display: block;
    line-height: 30px;
    margin-bottom: 15px;
}

.quotes-and-pic cite {
    font-weight: bold;
}

.interview-picture {
    width: 100%;
    position: relative;
    margin: 70px 0;
    transform: rotate(15deg);
}

.interview-picture.counter-clockwise {
    transform: rotate(-15deg);
}

.interview-picture img {
    width: 100%;
}

.interview-picture .audio-button {
    position: absolute;
    width: 15%;
    left: 25px;
    bottom: 10px;
    cursor: pointer;
}

.quotes-and-pic .icons {
    width: 100px;
}


/***********************************************/
/********* stylesheet for footer **************/
footer{
    background-image: url(/images/footer.jpg);
    height: 800px;
    background-size: cover;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    

}

#footerButton{
  background-color: #932929;
    font-size: 35px;
    text-align: center;
    color: white;
    padding: 40px 60px 35px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 280px;
    align-items: center;
    text-decoration: none;    
    
}

#socialmedie {
    display: flex;
   position: absolute;
    bottom: 0;
    left:0;
   

}
.icons {
    width: 70px;
    display: block;
    margin-left: 50px;
}
.icons img {
    width: 100%;
}













